<!DOCTYPE html>
<html>
<head>
    <title>View Store, Products, Transactions</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h2>View Store, Products, Transactions</h2>

    <button onclick="showStores()">View Stores</button>
    <button onclick="showProducts()">View Products</button>
    <button onclick="showTransactions()">View Transactions</button>

    <div id="content">
        @* This is where the tables will be displayed *@
    </div>

    <script>
        function showStores() {
            fetch('@Url.Action("GetStores", "Common")')
                .then(response => response.json())
                .then(data => {
                    document.getElementById("content").innerHTML = RenderStoreTable(data);
                });
        }

        function showProducts() {
            fetch('@Url.Action("GetProducts", "Common")')
                .then(response => response.json())
                .then(data => {
                    document.getElementById("content").innerHTML = RenderProductTable(data);
                });
        }

        function showTransactions() {
            fetch('@Url.Action("GetTransactions", "Common")')
                .then(response => response.json())
                .then(data => {
                    document.getElementById("content").innerHTML = RenderTransactionTable(data);
                });
        }

        function RenderStoreTable(data) {
            var tableHtml = "<table>";
            tableHtml += "<tr><th>Store ID</th><th>Address</th><th>Rent</th><th>Is Open</th></tr>";
            data.forEach(function (item) {
                tableHtml += "<tr>";
                tableHtml += "<td>" + item.store_id + "</td>";
                tableHtml += "<td>" + item.address + "</td>";
                tableHtml += "<td>" + item.rent + "</td>";
                tableHtml += "<td>" + (item.is_open ? "Yes" : "No") + "</td>";
                tableHtml += "</tr>";
            });
            tableHtml += "</table>";
            return tableHtml;
        }

        function RenderProductTable(data) {
            var tableHtml = "<table>";
            tableHtml += "<tr><th>Product ID</th><th>Store ID</th><th>Quantity</th><th>Discount Percent</th></tr>";
            data.forEach(function (item) {
                tableHtml += "<tr>";
                tableHtml += "<td>" + item.product_id + "</td>";
                tableHtml += "<td>" + item.store_id + "</td>";
                tableHtml += "<td>" + item.quantity + "</td>";
                tableHtml += "<td>" + item.discount_percent + "</td>";
                tableHtml += "</tr>";
            });
            tableHtml += "</table>";
            return tableHtml;
        }

        function RenderTransactionTable(data) {
            var tableHtml = "<table>";
            tableHtml += "<tr><th>Transaction ID</th><th>Product ID</th><th>Store ID</th><th>Cashier ID</th><th>Customer ID</th><th>Paydesk Number</th></tr>";
            data.forEach(function (item) {
                tableHtml += "<tr>";
                tableHtml += "<td>" + item.transaction_id + "</td>";
                tableHtml += "<td>" + item.product_id + "</td>";
                tableHtml += "<td>" + item.store_id + "</td>";
                tableHtml += "<td>" + item.cashier_id + "</td>";
                tableHtml += "<td>" + item.customer_id + "</td>";
                tableHtml += "<td>" + item.paydesk_number + "</td>";
                tableHtml += "</tr>";
            });
            tableHtml += "</table>";
            return tableHtml;
        }
    </script>
</body>
</html>
