<link rel="stylesheet" href="~/css/registration.css" />
<link rel="stylesheet" href="~/css/login.css" />
@model RSMS.ViewModels.UserRegistrationModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-pills card-header-pills" id="formTabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#registrationTab">Registration</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#loginTab">Login</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content">
                    <div id="registrationTab" class="tab-pane fade show active">
                        <h2 class="mb-0">Registration</h2>
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="Username">Username</label>
                                <input asp-for="Username" class="form-control form-control-sm" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="FirstName">First Name</label>
                                <input asp-for="FirstName" class="form-control form-control-sm" />
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="LastName">Last Name</label>
                                <input asp-for="LastName" class="form-control form-control-sm" />
                                <span asp-validation-for="LastName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" class="form-control form-control-sm" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password">Password</label>
                                <input asp-for="Password" type="password" class="form-control form-control-sm" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Phone">Phone</label>
                                <input asp-for="Phone" class="form-control form-control-sm" />
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Dob">Date of Birth</label>
                                <input asp-for="Dob" type="date" class="form-control form-control-sm" />
                                <span asp-validation-for="Dob" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Submit</button>
                        </form>
                    </div>
                    <div id="loginTab" class="tab-pane fade">
                        <h2 class="text-center mb-4">Login</h2>
                        <form method="post">
                            <div class="form-group">
                                <label asp-for="Username">Username</label>
                                <input asp-for="Username" class="form-control form-control-sm" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password">Password</label>
                                <input asp-for="Password" type="password" class="form-control form-control-sm" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#formTabs a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        });
    });
</script>
