@model RSMS.ViewModels.UserLoginModel

<h1>Login Successful!</h1>

<p>Welcome, </p>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
</li>