<link rel="stylesheet" href="~/css/selectuser.css" />


<div class="card">
    <div class="card-header">
        <h2>Select Role</h2>
    </div>
    <div class="card-body">
        @if (ViewBag.Roles != null)
        {
            <form asp-action="SelectUserType" asp-controller="User" method="post">
                <div class="form-group">
                    <label for="role">Roles</label>
                    <select id="role" name="SelectedRole" class="form-control">
                        @foreach (var role in ViewBag.Roles)
                        {
                            <option value="@role">@role</option>
                        }
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        }
    </div>
</div>