@model Domain.Models.UserInfo

<input type="hidden" asp-for="UserId" />
<input type="hidden" asp-for="RegistrationDate" />
<input type="hidden" asp-for="PasswordHashed" />
<input type="hidden" asp-for="Salt" />

<div class="form-group">
    <label asp-for="Username">Username</label>
    <input asp-for="Username" class="form-control form-control-sm" readonly />
    <span asp-validation-for="Username" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="FirstName">First Name</label>
    <input asp-for="FirstName" class="form-control form-control-sm" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="LastName">Last Name</label>
    <input asp-for="LastName" class="form-control form-control-sm" />
    <span asp-validation-for="LastName" class="text-danger"></span>
</div>


<div class="form-group">
    <label asp-for="Email">Email Address</label>
    <input asp-for="Email" class="form-control form-control-sm" />
    <span asp-validation-for="Email" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Phone">Phone Number</label>
    <input asp-for="Phone" class="form-control form-control-sm" />
    <span asp-validation-for="Phone" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="StoreId">Store ID</label>
    <input asp-for="StoreId" class="form-control form-control-sm" />
    <span asp-validation-for="StoreId" class="text-danger"></span>
</div>

<div class="form-group">
    <label asp-for="Dob">Date Of Birth</label>
    <input asp-for="Dob" type="date" class="form-control form-control-sm" />
    <span asp-validation-for="Dob" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="IsDisabled"> Disable User</label>
    <input asp-for="IsDisabled" type="checkbox" class="form-check-input" />
</div>
