<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Retail Store Management </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Store Management System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="d-flex align-items-start">
                    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist">
                        <div class="navbar-collapse collapse">
                            <div>
                                <ul class="navbar-nav flex-grow-1">
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="nav-item"><button class="nav-link active  text-dark" id="v-pills-userinfo-tab" data-bs-toggle="pill" data-bs-target="#v-pills-userinfo" type="button" role="tab" aria-controls="v-pills-userinfo" aria-selected="true">User Info</button></li>
                                        @if (User.IsInRole("Manager") || User.IsInRole("Admin"))
                                        {
                                            <li class="nav-item"><button class="nav-link   text-dark" id="v-pills-users-tab" data-bs-toggle="pill" data-bs-target="#v-pills-users" type="button" role="tab" aria-controls="v-pills-users" aria-selected="false">Users</button></li>
                                        }
                                        <li class="nav-item"><button class="nav-link  text-dark" id="v-pills-stores-tab" data-bs-toggle="pill" data-bs-target="#v-pills-stores" type="button" role="tab" aria-controls="v-pills-stores" aria-selected="false">Stores</button></li>
                                        <li class="nav-item"><button class="nav-link  text-dark" id="v-pills-products-tab" data-bs-toggle="pill" data-bs-target="#v-pills-products" type="button" role="tab" aria-controls="v-pills-products" aria-selected="false">Products</button></li>
                                        <li class="nav-item"><button class="nav-link  text-dark" id="v-pills-transactions-tab" data-bs-toggle="pill" data-bs-target="#v-pills-transactions" type="button" role="tab" aria-controls="v-pills-transactions" aria-selected="false">Transactions</button></li>
                                        <li class="nav-item"><button class="nav-link  text-dark" id="v-pills-payroll-tab" data-bs-toggle="pill" data-bs-target="#v-pills-payroll" type="button" role="tab" aria-controls="v-pills-payroll" aria-selected="false">Payroll</button></li>

                                    }
                                </ul>
                            </div>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <div>
                                    <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>

        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    $(document).ready(function () {
        $('#v-pills-payroll-tab').on('click', function () {
            var storeId = 1;

            $.ajax({
                url: '/Payroll/GetPayrollHistory',
                method: 'GET',
                data: { storeId: storeId },
                success: function (response) {
                    $('#payroll-content').html(response);
                },
                error: function (xhr, status, error) {
                    console.error('AJAX Error:', status, error);
                }
            });
        });

        $('.nav-link').click(function () {
            var currentUrl = window.location.href;
            console.log("hit");
            if (currentUrl != 'https://localhost:7245/User/Dashboard') {
                window.location.href = "https://localhost:7245/User/Dashboard";

                alert("It's loaded!");

            }
            var targetId = $(this).data('bs-target');

            // Remove "active" class from all buttons
            $('.nav-link').removeClass('active');

            // Hide all content
            $('.tab-pane').hide();
            $('#payroll-content').hide();

            // Add "active" class to the clicked button
            $(this).addClass('active');

            if (targetId === '#v-pills-payroll') {
                $('#payroll-content').show();
            } else {
                $(targetId).show();
            }
        });

    });
</script>
