/* General Styles */
.tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
}

.data-table {
    border-collapse: collapse;
    margin: 0 auto 20px auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

    .data-table th,
    .data-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }

    .data-table th {
        background-color: #f2f2f2;
        text-wrap: balance;
    }

.modal-dialog-centered {
    max-width: fit-content;
}

/* Search Box */
.search-box {
    width: 100%;
}

    .search-box input[type="text"] {
        width: 200px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 14px;
    }

/* Button Styles */
.disabled-btn,
.delete-btn,
.edit-btn,
.toggle-btn,
.toggle-transaction-btn,
.viewproduct-btn,
.add-product-stock-btn,
.show-product-availibility-btn,
.show-transaction-details-btn {
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    color: white;
    cursor: pointer;
}

.disabled-btn {
    color: lightgrey;
    cursor: not-allowed;
    pointer-events: none;
}

.disabled-edit-btn {
    background-color: #144d7a;
}

    .disabled-edit-btn:hover {
        background-color: darkgrey;
    }

.disabled-delete-btn {
    background-color: #bf1b06;
}

    .disabled-delete-btn:hover {
        background-color: darkgrey;
    }

.delete-btn {
    background-color: #e8250c;
}

    .delete-btn:hover {
        background-color: #d32f2f;
    }

.edit-btn,
.add-product-stock-btn {
    background-color: #2196F3;
}

    .edit-btn:hover {
        background-color: #0b7dda;
    }

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.toggle-btn {
    background-color: #4CAF50;
    padding: 10px 24px;
    font-size: 16px;
    margin: 0 10px;
}

    .toggle-btn:hover {
        background-color: #45a049;
    }

.toggle-transaction-btn,
.viewproduct-btn,
.show-product-availibility-btn,
.show-transaction-details-btn {
    background-color: #2e55d9;
}

    .toggle-transaction-btn:hover,
    .viewproduct-btn:hover,
    .show-product-availibility-btn:hover,
    .show-transaction-details-btn:hover {
        background-color: #2041b0;
    }

/* Table Styles */
.table-caption {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;
    caption-side: top;
}

.button-column-table {
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
    text-wrap: nowrap;
}

    .button-column-table th,
    .button-column-table td {
        border: none;
        padding: 8px;
        text-align: center;
        text-wrap: nowrap;
    }

    .button-column-table th {
        background-color: #f2f2f2;
    }

.button-column {
    border: none;
}

/* Card Styles */
.card {
    border: none;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    min-width: 350px;
    margin: 0 auto;
}

.card-header {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
}

    .card-header h2 {
        margin-bottom: 0;
        text-align: center;
    }

/* Navigation Styles */
.navbar-nav {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

    .navbar-nav:last-child {
        justify-content: flex-end;
    }

.nav-link.active,
.nav-link[aria-selected="true"] {
    color: #fff;
}

/* Product Detail Styles */
.product-detail {
    display: flex;
    justify-content: space-between;
}

.quantity-wrapper,
.discount-wrapper {
    display: flex;
    align-items: baseline;
}

.quantity-input,
.discount-input {
    width: 50px;
    padding: 2px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 5px;
}

.quantity-adjust-btn,
.discount-adjust-btn {
    background-color: #f0c14b;
    color: #111;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 5px;
    margin-right: 0;
    width: 31px;
}

    .quantity-adjust-btn:hover,
    .discount-adjust-btn:hover {
        background-color: #e0b040;
    }

.button-group {
    display: flex;
    align-items: center;
    padding: 0.1rem;
}

.actions {
    text-align: center;
    display: flex;
}

/* Dashboard Styles */
.dashboard-nav {
    background-color: #e6e6e6;
    width: fit-content;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    overflow-y: clip;
}

.dashboard-content {
    margin-left: 250px;
    padding: 20px;
    background-color: #e9ecef;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:focus,
.btn.active {
    box-shadow: none;
    background-color: lightskyblue;
}

.btn-group-vertical {
    z-index: 2;
}

    .btn-group-vertical .btn,
    .btn-group-vertical .dropdown-toggle {
        background-color: transparent;
        color: #000;
        border: none;
        text-align: left;
        padding: 15px 15px;
        width: 100%;
        transition: background-color 0.3s;
    }

        .btn-group-vertical .btn:hover,
        .btn-group-vertical .btn:focus,
        .btn-group-vertical .btn.active,
        .btn-group-vertical .dropdown-toggle:hover,
        .btn-group-vertical .dropdown-toggle:focus,
        .btn-group-vertical .dropdown-toggle.active {
            background-color: lightskyblue;
            color: #000;
        }

    .btn-group-vertical .dropdown-toggle {
        padding: 10px 15px;
        font-size: large;
    }

.dropdown-menu {
    width: auto;
    min-width: 50px;
    padding: 0;
}

.dropdown-item {
    font-size: small;
}

.content {
    width: 100%;
    max-width: 800px; /* Adjust maximum width as needed */
}

.tab-content > .tab-pane {
    display: none;
}

.tab-content > .active {
    display: block;
}